<h1 style="border-bottom: 1px rgb(4, 135, 0) solid; color:rgb(33, 141, 0); font-family:cursive">Loguearse</h1>
<form style="font-family:sans-serif " action='/views/login' method='get'>Loguearse:
<button type="submit" formmethod="get"> Ir a Login</button>
</form>

<h1 style="border-bottom: 1px rgb(0, 9, 135) solid; color:rgb(72, 0, 255); font-family:cursive">Iniciar Sesion</h1>
<form style="font-family:sans-serif " action='/views/session' method='get'>Iniciar Sesion:
<button type="submit" formmethod="get"> Ir a Iniciar Sesion</button>
</form>

<h1 style="border-bottom: 1px black solid; color:brown; font-family:cursive">Todos los productos:</h1>

<form style="font-family:sans-serif " action='/views/realTimeProducts' method='get'>Agregar un Producto:
<input type='submit' value='Agregar' />
</form>

<form style="font-family:sans-serif " action='/views/chat' method='get'>Seccion de Chats con usuarios:
<button type="submit" formmethod="get"> Ir al chat</button>
</form>

<form style="font-family:sans-serif " action='/views/products' method='get'>Todos los productos por paginacion:
<button type="submit" formmethod="get"> Ver todos los productos</button>
</form>


{{#if prods.length}}
{{#each prods}}

<h2 style="font-family:sans-serif; border-bottom: .5px solid red; width:fit-content">TITULO:  {{title}} </h2>

<h3 style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content"> ID es: {{_id}}</h3>
<p style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content">El precio es: <strong> $ {{price}} </strong> </p>
<p style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content">Descripcion: <strong> {{descr}} </strong> </p>
<p style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content">Stock: <strong> {{stock}} </strong></p>
<br>

{{/each}}

{{else}}
<h2>NO SE AÑADIO NINGUN PRODUCTO</h2>

{{/if}}