<h2 style="font-family:sans-serif; border-bottom: .5px solid red; width:fit-content">aqui deberia ver los productos </h2>

{{#if prods.length}}
{{#each prods}}
{{!-- 
<h2 style="font-family:sans-serif; border-bottom: .5px solid red; width:fit-content">TITULO:  {{{title}}} </h2>

<h3 style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content"> ID es: {{_id}}</h3>
<p style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content">El precio es: <strong> $ {{price}} </strong> </p>
<p style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content">Descripcion: <strong> {{descr}} </strong> </p>
<p style="font-family:sans-serif; border-bottom: .5px solid black; width:fit-content">Stock: <strong> {{stock}} </strong></p>
<br> --}}

{{/each}}

{{/if}}